

.programas{
    padding-top: 10px;
border-top: 4px solid #efb827;
padding-bottom: 10px;
height: 50px;
background: #950808;
text-align: center;
margin-top: 9px;

/* #eee26e; */
}

.programasDisp{
    padding-top: 10px;
border-top: 4px solid #efb827;
padding-bottom: 10px;
height: 50px;
background: #950808;
text-align: center;
margin-top: 9px;
-webkit-box-shadow: -7px 8px 5px 0px rgba(128,124,128,1);
-moz-box-shadow: -7px 8px 5px 0px rgba(128,124,128,1);
box-shadow: -7px 8px 5px 0px rgba(128,124,128,1);
/* #eee26e; */
}

.programasDisp:hover {
    padding-top: 10px;
border-bottom: 4px solid #950808;
padding-bottom: 10px;
height: 50px;
background: #efb827;
text-align: center;
margin-top: 9px;
color:#950808;    -webkit-box-shadow: -7px 8px 5px 0px rgba(128,124,128,1);
-moz-box-shadow: -7px 8px 5px 0px rgba(128,124,128,1);
box-shadow: -7px 8px 5px 0px rgba(128,124,128,1);

/* #eee26e; */
}
.tituloProgramaDisp:hover, .botonA:hover, .tituloProgramaDisp:focus, .botonA:focus{
  
color:#950808 !important;

/* #eee26e; */
}

.tituloProgramaDisp{
  
    color:#fff !important;
    
    /* #eee26e; */
    }

.wow2{
    padding-top: 20px;
border-top: 4px solid #950808;
padding-bottom: 20px;
/* #eee26e; */
}

.programasgratis{
    padding-top: 5px;
border-bottom: 4px solid #efb827 ;
/* border-bottom-style: double; */
border-top: 4px solid #efb827 ;
/* border-top-style: double; */
padding-bottom: 10px;
height: 50px;
background: #950808;
-webkit-animation: myfirst 2s linear 2s infinite alternate; /* Safari 4.0 - 8.0 */
  animation: myfirst 2s linear 2s infinite alternate;
text-align: center;
margin-top: 9px;
-webkit-box-shadow: -7px 8px 5px 0px rgba(128,124,128,1);
-moz-box-shadow: -7px 8px 5px 0px rgba(128,124,128,1);
box-shadow: -7px 8px 5px 0px rgba(128,124,128,1);


/* #eee26e; */
}

@-webkit-keyframes myfirst {
  
    0%  {background-color:#efb827; left:0px; top:0px;}
   
   }
   
   /* Standard syntax */
   @keyframes myfirst {
     0%  {background-color:#efb827; left:0px; top:0px;}
   
   }

   
   .ingresoAulaTx{
   
   text-decoration:none;
   color:#950808 !important;

   }
        .ingresoAulaTx:focus,  
        .ingresoAulaTx:hover{
        
        text-decoration:none;
        color:#efb827 !important;

        }

        .ingresoAula{
            padding-top: 10px;
        border-top: 4px solid #950808 ;
        padding-bottom: 10px;
        height: 50px;
        background: #efb827;
        text-align: center;
        margin-top: 9px;
        text-align: center;
        text-decoration: none;
        -webkit-box-shadow: -7px 8px 5px 0px rgba(128,124,128,1);
        -moz-box-shadow: -7px 8px 5px 0px rgba(128,124,128,1);
        box-shadow: -7px 8px 5px 0px rgba(128,124,128,1);
        }

        .ingresoAula:hover, .ingresoAula:focus{
            padding-top: 10px;
        border-bottom: 4px solid #efb827;
        padding-bottom: 10px;
        height: 50px;
        background: #950808;
        text-align: center;
        margin-top: 9px;
        text-align: center;
        text-decoration: none;
        -webkit-box-shadow: -7px 8px 5px 0px rgba(128,124,128,1);
        -moz-box-shadow: -7px 8px 5px 0px rgba(128,124,128,1);
        box-shadow: -7px 8px 5px 0px rgba(128,124,128,1);
        }


        .ingresoAula2{
            padding-top: 10px;
        border-top: 4px solid #950808 ;
        padding-bottom: 10px;
        height: 50px;
        background: #efb827;
        text-align: center;
        margin-top: 9px;
        text-align: center;
        text-decoration: none;
  
        }


        .ingresoAulaTx2{
   
            text-decoration:none;
            color:#950808 !important;
         
            }

/* #eee26e; */


.iconoxl{
color:white;
font-size: 120px;
}

.tituloPrograma{
    color:white;

}

.tituloServiciog{
    color:#950808;

}




.tituloGratis{
    color:#fff;
    font-size:18px;
    text-shadow: 2px -2px 18px rgb(0, 0, 0);
}

.contenidoPrograma{
    text-align: left !important;
}

.ContenidoProg{
    border-top: 4px solid #efb827 ;
    padding-top: 20px;
    padding-bottom: 10px;
    height: 130px;
     text-align: center;
    margin-top: 9px;
    background: white;
    color:#000;
    -webkit-box-shadow: -7px 8px 5px 0px rgba(128,124,128,1);
    -moz-box-shadow: -7px 8px 5px 0px rgba(128,124,128,1);
    box-shadow: -7px 8px 5px 0px rgba(128,124,128,1);
}
.tituloSiex{
 
    color:#000;
}

.float-right{
  width:200px;
  display:inline-block;
  overflow: auto;
  white-space: nowrap;
  margin:0px auto;
  bottom: -25px;
  margin-bottom: -25px;
}
.btn-register{
  color: white;
  background: rgba(204,79,79,1);
  background: -moz-linear-gradient(top, rgba(204,79,79,1) 0%, rgba(212,111,110,1) 23%, rgba(206,96,96,1) 36%, rgba(201,83,83,1) 48%, rgba(212,111,110,1) 69%, rgba(211,110,109,1) 70%, rgba(189,70,70,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(204,79,79,1)), color-stop(23%, rgba(212,111,110,1)), color-stop(36%, rgba(206,96,96,1)), color-stop(48%, rgba(201,83,83,1)), color-stop(69%, rgba(212,111,110,1)), color-stop(70%, rgba(211,110,109,1)), color-stop(100%, rgba(189,70,70,1)));
  background: -webkit-linear-gradient(top, rgba(204,79,79,1) 0%, rgba(212,111,110,1) 23%, rgba(206,96,96,1) 36%, rgba(201,83,83,1) 48%, rgba(212,111,110,1) 69%, rgba(211,110,109,1) 70%, rgba(189,70,70,1) 100%);
  background: -o-linear-gradient(top, rgba(204,79,79,1) 0%, rgba(212,111,110,1) 23%, rgba(206,96,96,1) 36%, rgba(201,83,83,1) 48%, rgba(212,111,110,1) 69%, rgba(211,110,109,1) 70%, rgba(189,70,70,1) 100%);
  background: -ms-linear-gradient(top, rgba(204,79,79,1) 0%, rgba(212,111,110,1) 23%, rgba(206,96,96,1) 36%, rgba(201,83,83,1) 48%, rgba(212,111,110,1) 69%, rgba(211,110,109,1) 70%, rgba(189,70,70,1) 100%);
  background: linear-gradient(to bottom, rgba(204,79,79,1) 0%, rgba(212,111,110,1) 23%, rgba(206,96,96,1) 36%, rgba(201,83,83,1) 48%, rgba(212,111,110,1) 69%, rgba(211,110,109,1) 70%, rgba(189,70,70,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc4f4f', endColorstr='#bd4646', GradientType=0 );
}

td{
    border-right: #efb827 2px solid !important;
}

#lightbox .modal-content {
    display: inline-block;
    text-align: center;   
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgba(25, 25, 25, 0.198);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;
    
    z-index:1032;
}