

.programas{
    padding-top: 10px;
border-top: 4px solid #efb827;
padding-bottom: 10px;
height: 50px;
background: #950808;
text-align: center;
margin-top: 9px;
/* #eee26e; */
}


.programasgratis{
    padding-top: 10px;
border-top: 4px solid #950808 ;
padding-bottom: 10px;
height: 50px;
background: #efb827;
text-align: center;
margin-top: 9px;


/* #eee26e; */
}


 .ingresoAulaTx:focus,  
 .ingresoAulaTx:hover{
 
   text-decoration:none;
   color:#950808;
   }
.ingresoAula{
 padding-top: 10px;
border-top: 4px solid #950808 ;
padding-bottom: 10px;
height: 59px;
background: #efb827;
text-align: center;
text-decoration: none;
}
.ingresoAula2{
    padding-top: 10px;
   border-top: 4px solid #efb827 ;
   padding-bottom: 10px;
   height: 59px;
   background: #efb827;
   text-align: center;
}


/* #eee26e; */


.iconoxl{
color:white;
font-size: 120px;
}

.tituloPrograma{
    color:white;

}
.tituloServiciog{
    color:#950808;
}

.contenidoPrograma{
    text-align: left !important;
}

.ContenidoProg{
    border-top: 4px solid #efb827 ;
    padding-top: 20px;
    padding-bottom: 10px;
    height: 120px;
     text-align: center;
    margin-top: 9px;
    background: white;
    color:#000;
}
.tituloSiex{
 
    color:#000;
}

.float-right{
  width:200px;
  display:inline-block;
  overflow: auto;
  white-space: nowrap;
  margin:0px auto;
  bottom: -25px;
  margin-bottom: -25px;
}
.btn-register{
  color: white;
  background: rgba(204,79,79,1);
  background: -moz-linear-gradient(top, rgba(204,79,79,1) 0%, rgba(212,111,110,1) 23%, rgba(206,96,96,1) 36%, rgba(201,83,83,1) 48%, rgba(212,111,110,1) 69%, rgba(211,110,109,1) 70%, rgba(189,70,70,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(204,79,79,1)), color-stop(23%, rgba(212,111,110,1)), color-stop(36%, rgba(206,96,96,1)), color-stop(48%, rgba(201,83,83,1)), color-stop(69%, rgba(212,111,110,1)), color-stop(70%, rgba(211,110,109,1)), color-stop(100%, rgba(189,70,70,1)));
  background: -webkit-linear-gradient(top, rgba(204,79,79,1) 0%, rgba(212,111,110,1) 23%, rgba(206,96,96,1) 36%, rgba(201,83,83,1) 48%, rgba(212,111,110,1) 69%, rgba(211,110,109,1) 70%, rgba(189,70,70,1) 100%);
  background: -o-linear-gradient(top, rgba(204,79,79,1) 0%, rgba(212,111,110,1) 23%, rgba(206,96,96,1) 36%, rgba(201,83,83,1) 48%, rgba(212,111,110,1) 69%, rgba(211,110,109,1) 70%, rgba(189,70,70,1) 100%);
  background: -ms-linear-gradient(top, rgba(204,79,79,1) 0%, rgba(212,111,110,1) 23%, rgba(206,96,96,1) 36%, rgba(201,83,83,1) 48%, rgba(212,111,110,1) 69%, rgba(211,110,109,1) 70%, rgba(189,70,70,1) 100%);
  background: linear-gradient(to bottom, rgba(204,79,79,1) 0%, rgba(212,111,110,1) 23%, rgba(206,96,96,1) 36%, rgba(201,83,83,1) 48%, rgba(212,111,110,1) 69%, rgba(211,110,109,1) 70%, rgba(189,70,70,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc4f4f', endColorstr='#bd4646', GradientType=0 );
}

td{
    border-right: #efb827 2px solid !important;
}