
.avatar img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}


.wow{
    padding-top: 20px;
border-top: 4px solid #eee26e;
padding-bottom: 20px;
/* #eee26e; */
}

.tabs{
    padding-top: 7px;
color:#930404fa;
padding-bottom: 7px;
padding-left:10px;
padding-right:10px;
border-bottom: 2px solid #930404fa;
border-left: 2px solid #930404fa;
border-bottom-left-radius: 0%;
border-bottom-right-radius: 0%;
margin-right: 5px;
/* #eee26e; */
}

.tabs:hover,
.tabs:focus{
    
        color:#930404fa ;
        border-bottom: 2px solid #eee26e !important;
        border-left: 2px solid #eee26e !important ;
        
        
        }
li  .active{
   
color:#930404fa ;

border-bottom: 2px solid #eee26e !important;
/* border-left: 2px solid #eee26e !important ; */


}

.tituloTabs{
   
color:#930404fa;
/* #eee26e; */
}

.tituloTabs:active{
   
    color:#930404fa;
   
    /* #eee26e; */
    }

    .nav-tabs {
        border-bottom: 1px solid #ddd;
      }
      .nav-tabs > li {
        float: left;
        margin-bottom: -1px;
      }
      .nav-tabs > li > a {
        margin-right: 2px;
        line-height: 1.42857143;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
      }
      .nav-tabs > li > a:hover {
        border-color: #eeeeee #eeeeee #ddd;
      }
      .nav-tabs > li.active > a,
      .nav-tabs > li.active > a:hover,
      .nav-tabs > li.active > a:focus {
        color:#930404fa;
        cursor: default;
        background-color: #fff;
        border-bottom: 2px solid #eee26e !important;
        border-bottom-color: transparent;
      }
      .nav-tabs.nav-justified {
        width: 100%;
        border-bottom: 0;
      }
      .nav-tabs.nav-justified > li {
        float: none;
      }
      .nav-tabs.nav-justified > li > a {
        margin-bottom: 5px;
        text-align: center;
      }
      .nav-tabs.nav-justified > .dropdown .dropdown-menu {
        top: auto;
        left: auto;
      }
      @media (min-width: 768px) {
        .nav-tabs.nav-justified > li {
          display: table-cell;
          width: 1%;
        }
        .nav-tabs.nav-justified > li > a {
          margin-bottom: 0;
        }
      }
      .nav-tabs.nav-justified > li > a {
        margin-right: 0;
        border-radius: 4px;
      }
      .nav-tabs.nav-justified > .active > a,
      .nav-tabs.nav-justified > .active > a:hover,
      .nav-tabs.nav-justified > .active > a:focus {
        border: 1px solid #ddd;
      }
      @media (min-width: 768px) {
        .nav-tabs.nav-justified > li > a {
          border-bottom: 1px solid #ddd;
          border-radius: 4px 4px 0 0;
        }
        .nav-tabs.nav-justified > .active > a,
        .nav-tabs.nav-justified > .active > a:hover,
        .nav-tabs.nav-justified > .active > a:focus {
          border-bottom-color: #fff;
        }
      }
      .tab-content > .tab-pane {
        display: none;
      }
      .tab-content > .active {
        display: block;
      }
      .fade {
        opacity: 0;
        -webkit-transition: opacity 0.15s linear;
        -o-transition: opacity 0.15s linear;
        transition: opacity 0.15s linear;
      }
      .fade.in {
        opacity: 1;
      }