

.programas{
    padding-top: 10px;
border-top: 4px solid #efb827;
padding-bottom: 10px;
height: 50px;
background: #950808;
text-align: center;
margin-top: 9px;
/* #eee26e; */
}


.programasgratis{
    padding-top: 10px;
border-top: 4px solid #950808 ;
padding-bottom: 10px;
height: 50px;
background: #efb827;
text-align: center;
margin-top: 9px;


/* #eee26e; */
}


 .ingresoAulaTx:focus,  
 .ingresoAulaTx:hover{
 
   text-decoration:none;
   color:#950808;
   }
.ingresoAula{
 padding-top: 10px;
border-top: 4px solid #950808 ;
padding-bottom: 10px;
height: 59px;
background: #efb827;
text-align: center;
text-decoration: none;
}
.ingresoAula2{
    padding-top: 10px;
   border-top: 4px solid #efb827 ;
   padding-bottom: 10px;
   height: 59px;
   background: #efb827;
   text-align: center;
}


/* #eee26e; */


.iconoxl{
color:white;
font-size: 120px;
}

.tituloPrograma{
    color:white;

}
.tituloServiciog{
    color:#950808;
}

.contenidoPrograma{
    text-align: left !important;
}

.ContenidoProg{
    border-top: 4px solid #efb827 ;

}